*{margin: 0 auto; padding: 0; box-sizing: border-box;}

#container{
  width: 600px;
  margin: 0 auto;
}


fieldset{
  
  margin-bottom: 20px ;
  }

fieldset ul{list-style: none;}

fieldset ul li{
  line-height: 3;
  margin-left: 50px;
}

ul li label{
  width: 150px;
  float: left;
}

ul li input{
  width: 250px;
  height: 30px;
}

#event{
  /* display: inline-block; */
  /* width: 30px;   */
}