*{margin: 0;padding: 0;}
.main_wrap{width: 100%;}
body{font-family: "나눔고딕";}
.main_nav1{ background: #fcdf33;}
.main_nav1 ul{list-style: none; padding: 5px; font-size: 14px; margin: 0 auto; width: 90%;}
.main_nav1 ul li a{color: rgba(0,0,0,.6);text-decoration: none;}
.main_upper{box-sizing: border-box; height: 37px; display: flex; line-height: 26px; justify-content: space-between;}
.main_line{border-bottom: 1px solid rgba(0, 0, 0, 0.1);width: 100%;}
.main_upper li{margin: 0 5px;}
.main_lower{box-sizing: border-box; display: flex; height: 62px; line-height: 52px; position: relative;}
.main_lower li {margin-right: 5px;}
.main_lower li span{font-size: 2em;}
.main_content .main_banner{height: 162px; line-height: 162px; display: flex; justify-content: center; align-items: center;}
.main_lower input{position: absolute; text-align: center; top: 13px; right:0; width: 212px; height: 34px; border-radius: 17px;box-sizing: border-box;border: 1px solid #fcdf33 ;}
.main_bold{color: #000;}





.mypage{min-height: 1000px;}
.mypage .container{width: 1400px; margin: 0 auto; box-sizing: border-box;}
.mypage_top{width: 1400px; height: 300px; margin: 0 auto; border-top: 2px solid #666; padding-top: 10px;}
.my_inner{width: 1000px; margin: 0 auto;text-align: center; }
.my_inner h1{font-size: 2.5em; font-family: "나눔고딕"; margin-top: 20px;display: inline-block;letter-spacing: 2px;}
.my_topimg{background: url(./images/user.png) no-repeat;background-size: contain;width: 50px;height: 50px;display: inline-block;}
.my_content{padding: 40px 0;display: flex;justify-content: space-evenly;box-sizing: border-box;}
.my_leftcon{width: 60%;box-sizing: border-box;}
.my_leftcon .pic{background: url(./images/user3.png) no-repeat;background-size: contain;width: 130px;height: 130px;margin: 0 120px 10px 30px;float: left;}
.my_leftcon .info{text-align: left;}
.my_leftcon .info img{width: 40px; height: 40px; padding-top: 5px;}
.my_leftcon .info span{color: #333; font-weight: bold;}
.my_leftcon .name{display: flex; }
.my_leftcon .name h2, .my_leftcon .name span{display: inline-block;}
.my_leftcon .name h2{font-size: 2em;}
.my_leftcon .name span{font-size: 1.2em; padding:15px 0 0 5px;}
.my_leftcon .id{margin: 40px 0 10px;}
.my_rightcon{width: 40%; padding-top: 20px;padding-left: 150px; box-sizing: border-box;}
.my_rightcon .rconbox{text-align: left; margin-bottom: 20px;}
.my_rightcon .rconbox span{font-size: 1.2em; font-weight: 600; color: #666; padding-left: 5px;}
.my_rightcon .type{width: 50%; color: #333; font-size: 1.1em; font-weight: bold; text-align: left; padding-left:10px; display: inline-block;}
.my_rightcon .num{color: #000; display: inline-block; padding-left: 10px;}
.rconbox img{width: 12px; height: 12px;}
.mypage_order{width: 1300px; height: 300px;margin: -70px auto;background: #fff;border-radius: 30px;box-shadow: 0 0 11px 0 #e8e8e8;box-sizing: border-box;justify-content: space-evenly; position: relative;}
.my_title{width: 30%; font-size: 1.6em; font-family: "나눔고딕"; color: #333; text-align: center; position: absolute; top: 43%; left: 0; box-sizing: border-box;}
.my_flow{width: 70%; position: absolute; top: 35%; right: 0; float: right;}
.my_flow ul{list-style: none; display: flex; justify-content: space-evenly; padding-right: 40px;}
.my_flow ul li{ text-align: center; position: relative;}
.my_flow ul a{text-decoration: none; text-align: center; }
.my_flow .img{width: 50px; height: 50px; border: 2px solid #ddd; border-radius: 50%; padding: 10px;  position: relative;}
.my_flow img{width: 40px; height: 40px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%)} 
.my_flow .step{color: #333; font-size: 0.9em; margin-top: 10px;}
.my_flow span{position: absolute;top: -5px;right: 10px;color: #fff;background-color: #fcdf33;height: 20px;width: 20px;font-size: 14px;text-align: center;border-radius: 50%;line-height: 1.3;} 
.my_flow ul li:after {border-bottom: 2px dashed #ddd;content: '';position: relative;left: 70px;top: -80px;width: 40px;display: inline-block;}
.my_flow ul li:last-of-type::after{content: " "; border-bottom: #fff;}
.my_menubox{width: 1300px; display: flex; justify-content: space-evenly; padding-top: 110px; margin: 0 auto;}
.my_menubox .menubox{width: 33.3%; height: 350px; box-shadow: 0 0 11px 0 #e8e8e8; box-sizing: border-box; border-radius: 20px; margin-right: 50px; padding-top: 35px; text-align: center;}
.my_menubox .menubox:last-of-type{margin-right: 0;}
.my_menubox .mtitle{width: 80%;margin: 0 auto;border-bottom: 2px solid  #eee;display: flex;justify-content: center}
.my_menubox img{width: 25px; height: 25px; }
.my_menubox .menubox_con{width: 125px; margin: 0 auto; padding-top: 35px;}
.my_menubox h3{padding: 0 0 20px 10px;}
.my_menubox ul{list-style: none;}
.my_menubox ul li{padding: 20px 0; text-align: left;}
.my_menubox ul a{text-decoration: none; color: #333;}

@media all and (max-width:1065px) and (min-width:801px){
    .mypage .container{width: 100%; margin: 0 auto; padding: 0 20px;}
    .mypage_top{width: 100%;}
    .my_inner{width: 100%;}
    .mypage_order{width: 100%;}
    .my_menubox{width: 100%;}
    .my_flow ul li:after{display: none;}
    .my_title{text-align: center; left: 0;}
    .my_flow{width: 70%; position: absolute; top: 35%; right: 0;} 
}


@media all and (max-width:800px){
    .main_content .main_banner{height: 130px;}
    .main_upper{display: none;}
    /* 변경가능성? */
    .mypage .container{width: 100%; margin: 0 auto; padding: 0 20px;}
    .mypage_top{width: 100%;}
    .my_content{position: relative;}
    .my_leftcon .pic{width: 15%;  position: absolute; top: 60%; left: 0; }
    .my_leftcon .info{width: 40%; padding-left: 3%; position: absolute;left: 25%;}
    .my_leftcon .info h2{font-size: 1.5em; padding-top: 10px;}
    .my_leftcon .info span{font-size: 1em; padding-top: 18px;}
    .my_leftcon .id{margin: 25px 0 10px;}
    .id, .tel{font-size: 0.9em; padding-left: 15px;}
    .my_rightcon{padding-top: 15px; padding-left: 10%; position: absolute; right: 0;}
    .my_rightcon .type, .my_rightcon .rconbox span{font-size: 1em;}
    .my_rightcon .num{font-size: 0.9em;}
    .rconbox img{width: 8px; height: 8px;}
    .my_inner{width: 100%;}
    .mypage_order{width: 100%; height: 250px;}
    .my_title{width: 100%; position: absolute; top: 25px;}
    .my_flow{width: 100%;}
    .my_flow ul{padding-right: 10px;}
    .my_flow ul li:after{display: none;}
    .my_flow .img{width: 45px; height: 45px; }
    .my_flow img{width: 42px; height: 42px;}
    .my_menubox{width: 100%; display: block;}
    .my_menubox .menubox{width: 100%; height: 250px; margin-right: 0; padding-top: 20px; margin-bottom: 40px; text-align: center;}
    .my_menubox h3{padding: 0 0 15px 10px; font-size: 1.1em;}
    .my_menubox .menubox_con{padding-top: 15px;}
    .my_menubox ul li{padding: 15px 0; text-align: left;}
}